* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
}

header {
    color: white;
    height: 50px;
    padding-top: 10px;
}

.title {
    margin-left: 95px;
    color: #3C6BB6;
}

.top-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

ul {
    list-style-type: none;
    display: flex;
}


li a {
    display: block;
    color: #3C6BB6;
    font-weight: 700;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

.access {
    margin-left: auto;
    margin-right: 95px;
    gap: 15px;
}

.access li {
    background-color: white;
    border-radius: 8px;
    font-weight: 700;
}

.access li a {
    color: #3C6BB6;
    padding: 10px;
}

li a:hover {
    color: #3c6bb68e;
}

.block {
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #3C6BB6;
    z-index: -1;
}

.public_list_title, .local_list_title, .user_list_title {
    color: #023E8A;
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
    z-index: 3;
}

.public_list_container, .local_list_container, .user_list_container {
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    border-radius: 10px;
    width: 95%;
    background-color: white;
    text-align: left;
}

input, textarea, select {
    margin-bottom: 15px;
    border: 2px solid #3C6BB6;
    border-radius: 10px;
    width: 309px;
    height: 40px;
    padding: 0px 5px;
    color: #3C6BB6;
}

label {
    font-size: 14px;
    line-height: 19.1px;
    text-align: left;
    color: #3C6BB6;
    font-weight: 600;
}

input[type="submit"] {
    background-color: #3C6BB6;
    color: white;
    font-size: 20px;
}

input:focus, input:active {
    border: 2px solid #3C6BB6;
    outline: none;
}

textarea {
    margin-bottom: 15px;
}

textarea:focus, textarea:active {
    border: 2px solid #3C6BB6;
    outline: none;
}

select {
    margin-bottom: 40px;
}

select:focus, select:active {
    border: 2px solid #3C6BB6;
    outline: none;
}

td, th {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: rgba(190, 224, 254, 0.28);
}

tr:nth-child(odd) {
    background-color: rgba(163, 211, 255, 0.461);
}

th {
    background-color: rgba(163, 211, 255, 0.461);
    font-weight: 800;
}

table {
    color: #023E8A;
}

tr>:first-child {
    font-weight: 800;
}

a, a:focus, a:active {
    color: #023E8A;
}

.actions {
    display: flex;
    justify-content: space-around;
    
}

.root_card ul {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    color: #3C6BB6;
}

.root_card li {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    font-size: 18px;
}


.form_title2 {
    color: #3C6BB6;
    padding-bottom: 45px;
    font-size: 30px;
    text-align: center;
}